.cards {
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 22px;
	margin-bottom: 50px;
	position: relative;
	z-index: 1;
}

@media only screen and (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);

		.card-2 {
			display: none;
		}
  }
}

@media only screen and (max-width: 800px) {
	.cards {
    grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-row-gap: 20px;

		.card-2 {
			display: block;
		}
  }
}

.card {
	background-color: var(--paint-purple);
	border-radius: var(--block-border-radius);
	color: var(--foreground-invert-color);
}

.card-0 {
	background-color: var(--paint-yellow);
	color: var(--foreground-color);
}

.card-1 {
	background-color: var(--paint-dark);
}

.card-2 {
	background-color: var(--paint-purple);
}

.more {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 160px;
	height: 160px;
	padding: 31px;
	position: absolute;
	z-index: 8;
	bottom: -60px;
	right: -55px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.1;
	color: var(--foreground-invert-color);

	@media only screen and (max-width: 800px) {
		right: -10px;
		bottom: -40px;
	}
}

.more::before {
	content: '';
	width: 160px;
	height: 160px;
	background-image: url('/badge.svg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	transition: transform 0.3s ease;
}

.more-link:hover .more::before {
	transform: rotate(45deg);
}

@media only screen and (max-width: 600px) {
	.more {
		width: 130px;
		height: 130px;
		font-size: 100%;
	}

	.more::before {
		width: 130px;
		height: 130px;
	}
}
