.sidenav {
	width: 100%;
}

.nav-toggle {
	border: 0;
	outline: none;
	display: block;
	width: 166px;
	height: 166px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 40;
	background-color: transparent;
	cursor: pointer;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.hide[data-nav="idle"] .nav-toggle {
	opacity: 0;
	pointer-events: none;
}

.sidenav [data-toggle="toggle"] {
	opacity: 1;
	transition: all 0.3s ease-in-out;
	transition-delay: 150ms;
}

.hide [data-toggle="toggle"] {
	opacity: 0;
}

.toggle {
	position: relative;
	top: -30px;
	right: -30px;
	transition: all 0.3s ease-in-out;
}

.shift .toggle {
	transform: translate(-10px, 10px);
}

.toggle-path {
	fill: var(--paint-tangerine);
  transition: d 0.5s ease;
}

.beam {
	width: 39px;
	height: 25px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 28%;
	right: 11%;
	z-index: 45;
	transform: translateY(-50%);
}

.dash {
	display: block;
	width: 39px;
	height: 2px;
	background-color: var(--mode-color-invert);
	transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	position: absolute;
	top: 0;
	right: 0;
}

.smile {
	display: block;
	width: 31px;
	height: 2px;
	background-color: var(--mode-color-invert);
	transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	position: absolute;
	top: 10px;
	right: 0;
}

.sidenav[data-nav="active"] .dash {
	transform: rotate(-45deg) translate(-9px, 5px) scaleX(1);
}

.sidenav[data-nav="active"] .smile {
	transform: rotate(35deg) translate(-5px, 5px) scaleX(1);
}

@media only screen and (max-width: 1000px) {
	.nav-toggle {
		background-color: var(--paint-purple);
		border-radius: 50%;
		width: 60px;
		height: 60px;
		top: 10px;
		right: 10px;
	}

	.toggle {
		display: none;
	}

	.beam {
		top: 58%;
		right: 26%;
		width: 33px;
		height: 22px;
	}

	.dash {
		width: 23px;
	}

	.smile {
		width: 30px;
	}

	.sidenav[data-nav="active"] .dash {
		transform: rotate(-45deg) translate(-5px, 3px) scaleX(1);
	}

	.sidenav[data-nav="active"] .smile {
		transform: rotate(35deg) translate(-2px, -3px) scaleX(1);
	}
}

.toggle-path {
	fill: var(--paint-tangerine);
}

.navigation {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 35;
	width: 100%;
	height: 100%;
	background-color: var(--mode-bg);
	color: var(--mode-color);
	overflow: hidden;
	-webkit-transform: translateX(100vw);
	-moz-transform: translateX(100vw);
	-ms-transform: translateX(100vw);
	-o-transform: translateX(100vw);
	transform: translateX(100vw);
	-webkit-transition: 0.53s cubic-bezier(0.5,0.5,0,1);
	-moz-transition: 0.53s cubic-bezier(0.5,0.5,0,1);
	transition: 0.53s cubic-bezier(0.5,0.5,0,1);
}

.navigation[data-state="on"] {
	-webkit-transform: translateX(0vw);
	-moz-transform: translateX(0vw);
	-ms-transform: translateX(0vw);
	-o-transform: translateX(0vw);
	transform: translateX(0vw);
}

.nav-roll {
	width: 60%;
	margin: 0 auto;
}

.nav-footer {
	width: 60%;
	margin: auto auto 100px;
}

.menu {
	padding-top: 15vh;
}

.menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-item {
  transform: translateX(50%);
	opacity: 0;
  transition: all 0.1s ease-in-out;
}

.navigation[data-state="on"] .menu-item {
	transform: translateX(0);
	opacity: 1;
}

.navigation[data-state="on"] .item-0 {
  transition-delay: 0.1s;
	opacity: 1;
}

.navigation[data-state="on"] .item-1 {
  transition-delay: 0.2s;
	opacity: 1;
}

.navigation[data-state="on"] .item-2 {
  transition-delay: 0.3s;
	opacity: 1;
}

.navigation[data-state="on"] .item-3 {
  transition-delay: 0.4s;
	opacity: 1;
}

.navigation[data-state="on"] .item-4 {
  transition-delay: 0.5s;
	opacity: 1;
}

.navigation[data-state="on"] .item-5 {
  transition-delay: 0.6s;
	opacity: 1;
}

.menu-list li {
	margin: 0 0 3px;
}

.menu-list li a {
	padding: 15px 20px;
	display: block;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.disable a {
	cursor: not-allowed;
}

.menu-list li a::before {
	transform: scaleX(0);
	transform-origin: bottom left;
}

.menu-list li a::before {
	content: " ";
	display: block;
	border-radius: 10px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	inset: 0 0 0 0;
	background: var(--mode-pale);
	opacity: 0.3;
	z-index: -1;
	transition: transform 0.4s ease;
}

.menu-list li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-list li a:hover .nav-subtitle {
	opacity: 0.6;
}

.menu-list h3 {
	font-size: 30px;
	text-transform: lowercase;
	margin: 0 0 5px;
	line-height: 1;
	transition: all 0.4s ease-out;
}

.nav-subtitle {
	opacity: 0.4;
	font-size: 95%;
	transition: all 0.3s ease-out;
}

.findus {
	display: flex;
	align-items: center;
	border-top: 1px solid var(--paint-purple);
	padding: 20px 0 0;
}

.callus {
	white-space: nowrap;
}

.social {
	font-size: 1rem;
	line-height: 1;
}

.writeus {
	margin-left: auto;
	margin-right: 15px;
}

.fpath {
	fill: var(--mode-link);
}

.figure {
	width: 100%;
	height: 230px;
	object-fit: cover;
	object-position: center;
	border-radius: var(--block-border-radius);
}

.list-item {
	margin-bottom: 35px;
}

.list-item:last-of-type {
	margin-bottom: 0;
}

.list-item h3 {
	margin: 23px 0;
	font-size: 22px;
	line-height: 1;
}

.info {
	line-height: 1.4;
}

.status {
	display: flex;
	align-items: center;
	margin: 0 0 5px;
	flex-flow: wrap;
}

.status-label {
	display: inline-block;
	padding: 2px 15px 3px;
	margin-right: 15px;
	border-radius: 5px;
	font-weight: bold;
	background-color: var(--paint-pale);
	color: var(--foreground-color);
	margin-bottom: 10px;
	margin-top: 10px;
}

.status-label.new {
	background-color: var(--paint-green);
	color: var(--foreground-invert-color);
}

.status-date {
	font-size: 16px;
	opacity: 0.7;
}

@media only screen and (max-width: 1000px) {
	.nav-roll,
	.nav-footer {
		width: 80%;
	}
}

@media only screen and (max-width: 600px) {
	.menu {
		padding-top: 6vh;
	}

	.menu-list li a {
		padding: 12px 20px;
	}

	.menu-list h3 {
		font-size: 26px;
	}

	.nav-footer {
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 500px) {
	.findus {
		flex-direction: column;
	}

	.writeus {
		margin: 5px 0;
	}

	.nav-footer {
		margin-bottom: 15px;
	}
}