.mode {
  background-color: var(--mode-bg);
  color: var(--mode-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.reactive {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.notfound {
  text-align: center;
  width: 65%;
  margin: 0 auto 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.notfound .dino {
  width: 60px;
  height: auto;
  margin: 0 0 20px 25px;
}

.dino path {
  fill: var(--paint-green);
}

.notfound h2 {
  margin: 0 0 20px;
  font-size: 36px;
  line-height: 1;
}

.notfound a {
  color: var(--mode-link);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shift {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  59% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.blank {
  opacity: 0;
  animation: blink 3s infinite;
}

.eye {
  position: relative;
  animation: shift 5s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  flex: 1 1;
}

.loading-button .button {
  width: 100px;
  height: auto;
  animation: rotate 0.7s infinite linear;
}
