.header {
  width: 100%;
}

.logo-wrapper {
  text-align: center;
  padding: 45px 0;
}

.logo-link {
  display: inline-block;
}

.logo-figure {
  width: 400px;
  height: auto;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

@keyframes blinkAnimation {
  0% {
    fill: transparent;
  }
  1% {
    fill: var(--paint-green);
  }
  2% {
    fill: transparent;
  }
  100% {
    fill: transparent;
  }
}

.eye {
  position: relative;
}

.blink {
  animation-name: blinkAnimation;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: all 0.2s ease-in-out;
  fill: transparent;
}

@media only screen and (max-width: 600px) {
  .logo-figure {
    max-width: 320px;
  }
}