.card {
	min-height: 450px;
	height: 450px;
	padding: 0;
}

.card.plain {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card.has-icon {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card.has-image {
	position: relative;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(1, 1fr);
}

.has-image .gist {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.has-image .excerpt {
	padding-right: 40px;
}

.has-image .image {
	background-color: gray;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 var(--block-border-radius) var(--block-border-radius);
}

.heading {
	font-size: 30px;
	margin-bottom: 22px;
	line-height: 1;
	padding-left: 40px;
	padding-right: 80px;
}

.excerpt {
	padding-left: 40px;
	padding-right: 100px;
	line-height: 1.4;
}

.card-icon {
	width: 140px;
  height: auto;
	position: absolute;
	right: 5%;
	top: 4%;
}

.card-image {
	width: 100%;
	height: auto;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 0;
	min-height: 100%;
	min-width: 100%;
	object-fit: cover;
}

@media only screen and (max-width: 1200px) {
	.heading {
		padding-right: 40px;
	}
}

@media only screen and (max-width: 600px) {
	.card {
		height: 350px;
		min-height: 350px;
	}

	.heading {
		font-size: 24px;
	}
}
